<div class="archive">
  <h1>Archive</h1>
  </li>

  <section id="mini-archive">
    <div class="archive-article">

      {{>molecules-miniaticle-outils}} {{>molecules-miniature-dev}} {{>molecules-miniature-webd}} {{>molecules-miniature-dev}} {{>molecules-miniature-webd}} {{>molecules-miniature-webd}}

    </div>
  </section>
</div>