<div class="section-event">
  <h1>Prochains evenements</h1>

  <div class="eventmin">
    {{>molecules-block-mini-event}} {{>molecules-block-mini-event}} {{>molecules-block-mini-event}} {{>molecules-block-mini-event}}


  </div>
</div>