<div class="section01">
  <ul>
    <li>
      <h1>Dernières nouvelles</h1>
    </li>
    <li>{{>molecules-btn-eyes}}</li>
  </ul>

  <div class="derniere-news">
    {{>molecules-miniaticle-outils}} {{>molecules-miniature-dev}} {{>molecules-miniature-webd}}
  </div>

</div>