<div class="mini-dev mini-blob">
  <div class="image-container image-container-dev">
    {{>atoms-articlemini}}
  </div>

  <h3>Developement</h3>
  <h2>Titre article</h2>
  {{>atoms-paragraph}}
</div>