<div class="intro-art">

  <h3>Web Design</h3>
  <h1>Poetry in Motion: Studio Crême on the Joy of Experimentation + Electronic Music</h1>
  <p>“It’s fun to play with something that causes a reaction with people.”</p>

  <div class="signature">
    <p>20/10</p>
    <p>Marie</p>
  </div>

</div>