<div class="menu-head">
  <ul class="menu">

    <li>
      <h1 class="item-head">Articles</h1>
    </li>
    <li>
      <h1 class="item-head">Outils</h1>
    </li>
    <li>
      <h1 class="item-head">Dossiers</h1>
    </li>
    <li>
      <h1 class="item-head">Evenements</h1>
    </li>
    <li>
      <h1 class="item-head">À propos</h1>
    </li>

  </ul>
</div>